:root {
    --clr1: #ebf4d1;
    --clr2: #ffffff;
    --clr3: #5e6c84;
    --clr4: #172b4d;
    --clr5: #A4031F;
    --clr6: #11082bdf;
    --borderRad1: 3px;
    --borderRad2: 5px;
}

$clr1: #ebf4d1;
$clr2: #ffffff;
$clr3: #5e6c84;
$clr4: #172b4d;
$clr5: #A4031F;
$clr6: #11082bdf;

$borderRad1: 3px;
$borderRad2: 5px;